body {background-color: white;
    text-align: center;}

h1   {color: black}

p    {color: white;}

.button-login {
  background-color: #969696;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 160%;
  margin: 50px
}

.box {
    padding:5px;
    width:200px;
    z-index:10;
    position:relative;  
  }

.box-form {
   background:#20282c;
   padding:5px;
   display:none;
   position:absolute;
   top:27px;
}
input[type="submit"] {
    background:none;
    color:#fff;
    border:none;
    text-align:left;
    cursor:pointer;
  }