h1 {
  color: black;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 50px; font-weight: bold;
  letter-spacing: 0px;
  line-height: 1;
  text-align: center;
}

h2 {
  color: black;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 15px;
  line-height: -10;
  text-align: center;;  
}

h3 {color: #111; 
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    margin: 10 10 92px;
    text-align: center; 
}

hr {
  width: 90%;
  background-color: #005175;
  height: 2px;

}

img {
  min-width: 35%;
  max-width: 47%;
  height: auto;
}


/* -------------------------BACKGROUND-------------------------*/
html {
  height: 100%;
}

body {
  margin-bottom: 200px;
  text-align: center;
  background: linear-gradient(90deg, #005175 0%, #0077a3 25%, #00cc99 75%, green 100%);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  height: 100vh;
}
  
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  
  50% {
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
  }
}

.tab {
    display: inline-block;
    margin-left: 120px;
}

img {
  max-width: 40%;
  height: auto;
}

.container {
  background-color: #ffff;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
  padding: 20px;
  margin: 0 auto;
  width: 40%;
  border-radius: 10px;
}

/* -------------------------NAVBAR-------------------------*/
ul {
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px; 
  list-style-type: none;
  margin: 0px;
  padding: -10px;
  border-radius: 0px;
  overflow: hidden;
  background-color: #333;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);

}

li:first-child {
  position: absolute;
  left: 50px;
  top: -6px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 40px; font-weight: bold;
  letter-spacing: 0.5px;
}

li {
  margin-right: 15px;
}

li a {
  display: block;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

li a[href="/home"]{
  display: block;
  border-radius: 5px;
  color: white;
  text-align: left;
  padding: 10px 10px 10px 30px; 
  text-decoration: none;
  background-image: url("home_button.png");
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: left;
}

li a[href="/all_solutions"]{
  display: block;
  border-radius: 5px;
  color: white;
  text-align: left;
  padding: 10px 10px 10px 30px; 
  text-decoration: none;
  background-image: url("error_analysis.png");
  background-repeat: no-repeat;
  background-size: 14%;
  background-position: left;
}


li a[href="/MLE_view_data"] {
  display: block;
  border-radius: 5px;
  color: white;
  text-align: left;
  padding: 10px 10px 10px 30px; 
  text-decoration: none;
  background-image: url("MLE_icon.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: left;
}

li a[href="/contributor_upload"] {
  display: block;
  border-radius: 5px;
  color: white;
  text-align: left;
  padding: 10px 10px 10px 30px; 
  text-decoration: none;
  background-image: url("Contributor_icon.png");
  background-repeat: no-repeat;
  background-size: 16%;
  background-position: left;
}



li a:hover {
  text-decoration: none;
  color: white;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

li a:hover:not(.active) {
  background-color: #575757;
}

.active {
  background-color: #575757;
}

.navbar-container {
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
}

@media only screen and (max-width: 768px) {
  ul {
    justify-content: space-between;
    padding: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  li:first-child {
    display: none;
  }

  li {
    margin-right: 5px;
  }

  li a {
    border-radius: 0;
  }
}
/* --------------------------------------------------*/

.button-login-MLE {
  background-color: #3275d1;
  border: black;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  height: 80px;
  width: 150px;
  transition: background .2s ease-in-out;
  position: relative;
  margin: 10px;
}


.button-login-MLE:hover {
  background-color: #408ef9;
}
.button-login-CONT {
  background-color: green;
  border: black;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  height: 80px;
  width: 150px;
  transition: background .2s ease-in-out;
  position: relative;
  margin: 10px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .button-login-MLE,
  .button-login-CONT {
    width: 100%; /* Full width */
    max-width: 400px; /* Maximum width */
    margin: 20px auto; /* Centered with spacing */
  }
}


.button-login-CONT:hover {
  background-color: rgb(0, 183, 61);
}




/* unused right now*/
.button-cont-modal{
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    margin: 50px;
    box-shadow: 0 2px #403e3e;
    height:10px;
    width:20px;

}

.box {
    padding:5px;
    width:200px;
    z-index:10;
    position:relative;  
  }

.box-form {
   background:#20282c;
   padding: 5px;
   display:none;
   position:absolute;
   top:27px;
}
input[type="submit"] {
    background:none;
    color:#fff;
    border:none;
    text-align:left;
    cursor:pointer;
  }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,.5); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content-MLE {
    background-color: #f3f3f3;
    margin: 5px auto; /* 15% from the top and centered */
    border: 5px solid #0f059d;
    width: 60%; /* Could be more or less, depending on screen size */
    opacity:1;
  }

  .modal-content-CONT {
    background-color: #f3f3f3;
    margin: 5px auto; /* 15% from the top and centered */
    border: 5px solid green;
    width: 60%; /* Could be more or less, depending on screen size */
    opacity:1;
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }



  /*POP UP STUFF*/

  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background .2s ease-in-out, border .2s ease-in-out;

  }

  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }

  /* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

.login-buttons {
  width: 100%;
  margin: auto;
  display: inline-block;
}

#form_cont, #form_MLE {
  width: 30%;
  display: inline-block;
}

/*
tool tips stuff
*/

.tooltip {
    text-align: center;
    background-color: transparent;
    border: 0px !important;
    width: 280px;
    color: #666666;
    font-size: 14px;
}

button .why {
     text-decoration: underline;
    font-style: Italic;
}

button:hover .why {
     display: none;
}

/* added */
.tip {
  visibility: hidden;
  font-size: 19px;
  opacity: 0;
  background-color: #606060;
  color: white;
  text-align: center;
  padding: 3px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 50%;
  width: 270px;
  transform: translateX(-50%);
  transition: opacity 0.2s ease-in-out;
}

/* added */
.button-login-MLE:hover .tip, .button-login-CONT:hover .tip {
  transition-delay: 0.2s;
  background-color: #696d72;
  visibility: visible;
  opacity: 1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, );

} 

/* added */
.tip::after {
  content: "";
  position: absolute;
  top: -10%;
  left: 50%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  transform: rotate(0deg);
  border-color: transparent transparent #696d72 transparent; /* updated */

}


  
  /* Add Zoom Animation FOR MODAL */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }
