<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MLE Solution Comparison</title>
  <link rel="stylesheet" href="static/contributor_style.css">
</head>

<body>
    <body style="background-color: rgb(255, 255, 255); text-align: center;">
        <header>
            <h1>All Error Analyses</h1>
            <div class="imgcontainer">
                <img src="static/timeseries_icon.png" alt="Avatar" class="avatar">
              </div>
            <h2>This page will have all the tables split up by Time Series training set</h2>
            <hr>
            <br>
            <br>
            <br>
            <br>
        

            <br><br><a href="/home" class="home-button">Home</a>  
        </header>
    </body>
</body>
</html>
