<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MLE Solution Comparison</title>
  <link rel="stylesheet" href="static/contributor_style.css">
</head>

<body>
    <body style="background-color: rgb(255, 255, 255); text-align: center;">
        <header>
            <h1>The graph displayed below shows your results compared with the actual test set</h1>
            <div class="imgcontainer">
                <img src="static/timeseries_icon.jpg" alt="Avatar" class="avatar">
              </div>
            <hr>

            <!-- Graph will be go here-->
            <h3>To view all the MLE solutions, click the button below</h3>
            <br>
            <br>
            <br>
            <br>
            <a href="/all_solutions" class="home-button">View All MLE Solutions</a> 
            <br><br><a href="/MLE_upload" class="home-button">Back To Upload Forecasting Solutions Page</a> 
            <br><br><a href="/home" class="home-button">Home</a>  
            </form>
        </header>
    </body>
</body>
</html>