<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="X-UA-Compatiable" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="static/contributor_style.css">
    </head>
    <body>
        <body style="background-color: rgb(255, 255, 255);">
        
            <h1>
                <u>Time Series Generator</u>
            </h1>
            <h2>Upload you own data, either as a contributor or an MLE</h2>
            <h3>
                Users may upload time series data and view error analysis results.
            </h3>
            <div class="container">
                <a href="/contributor_upload">
                    <button class="button-1" role="button">Upload Data As A Contributor</button>
                </a>
            </div>

            <div class="container">
                <a href="/MLE_upload">
                    <button class="button-1" role="button">Upload Data As A MLE</button>
                </a>
                
            </div>

            <div class="container">
                <a href="/MLE_view_data">
                    <button class="button-1" role="button">View Data As A MLE</button>
                </a>
                
            </div>
            
            
    </body>
</html>
