<!DOCTYPE html>
<script defer src="src/login.js" charset="utf-8"></script>
<script type = "text/javascript" src="login.js"></script>
<html>
<head>
    <link rel="stylesheet" href="static/login_styles.css">
    
<title>TS Login</title>
</head>
<body>

<h1>Time Series Data Collection and Analysis</h1>

<br>

<div class="imgcontainer">
    <img src="static/timeseries_icon.png" alt="Avatar" class="avatar">
  </div>


<div class="login-buttons">
  <!-- home buttons no tool tip-->
  <form action="/MLE_view_data" method="get" id="form_MLE">
    <button class = "button-login-MLE" id="MLE">MLE

      <span class = 'tip'>To access training data pick MLE!</span>
    </button> 
  </form>

  <form action="/contributor_upload" method="get" id="form_cont">
    <button  class = "button-login-CONT" id="Contributor">CONTRIBUTOR

      <span class = 'tip'>To upload data pick CONTRIBUTOR!</span>
    </button>
  </form>
</div>



<!------------------------------------- Modal Code ----------------------------------->

<!-- The Modal for MLE -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <form class="modal-content-MLE animate" style="background-color:#fefefee0">
    <label>MLE Login</label>
    <br>
    <br>
    <div class="imgcontainer">
      <img src="static/timeseries_icon.png" alt="Avatar" class="avatar">
    </div>
    
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
        <br>
        <br>
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        <br>
        <br>
        <div class="container">
            <a href="MLE_upload.html">
                <button class="button-1" role="button">Login</button>
            </a>
            
        </div>

    <br>

    <!-- Buttons to open the new user MLE form -->

    <div class="container">
        <button type="button" id="new MLE" onclick = "document.getElementById('id04').style.display='block'; document.getElementById('id01').style.display='none'">New User</button>

      </div>
      <br>
    
    </div>



    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      

    </div>
  </form>
</div>



<!-- The Modal for contributor button-->
<div id="id02" class="modal">
    <span onclick="document.getElementById('id02').style.display='none'"
  class="close" title="Close Modal">&times;</span>
  
    <!-- Modal Content -->
    <form class="modal-content-CONT animate">
      <div class="imgcontainer">
        <label>Contributer Login</label>
        <br>
        <img src="static/timeseries_icon.png" alt="Avatar" class="avatar">
      </div>
      
      <div class="container">
        <br>
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <br>
        <br>
  
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <br>
        <br>

        <div class="container">
            <a href="/contributor_upload">
                <button class="button-1" role="button">Login</button>
            </a>
            
        </div>
  
      </div>
      <br>

      <div class="container">
        <button type="button" id="new cont" onclick = "document.getElementById('id03').style.display='block'; document.getElementById('id02').style.display='none'">New User</button>

      </div>

      <br>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
       
        
      </div>
    </form>
  </div>
  

  <!-- The Modal New USer contributor -->
<div id="id03" class="modal">
    <span onclick="document.getElementById('id03').style.display='none'"
  class="close" title="Close Modal">&times;</span>
  
    <!-- Modal Content -->
    <div class="modal-content-CONT animate">
      <div class="imgcontainer">
        <label>New Contributor Account</label>
        <br>
        <img src="static/timeseries_icon.png" alt="Avatar" class="avatar">
      </div>
      
      <div class="container">
        <br>
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <br>
        <br>
  
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <br>
        <br>

        <label for="psw"><b>Confirm Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <br>
        <br>

        <div class="container">
            <a href="/contributor_upload">
                <button type="submit" class="button" role="button">Login</button>
            </a>
        </div>
  
      </div>
      <br>
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id03').style.display='none'" class="cancelbtn">Cancel</button>
       
        
      </div>
    </div>
  </div>

<!-- The Modal for MLE -->
<div id="id04" class="modal">
    <span onclick="document.getElementById('id04').style.display='none'"
  class="close" title="Close Modal">&times;</span>
  
    <!-- Modal Content -->
    <form class="modal-content-MLE animate">
      <label>New MLE Account</label>
      <br>
      <br>
      <div class="imgcontainer">
        <img src="static/timeseries_icon.png" alt="Avatar" class="avatar">
      </div>
      
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
          <br>
          <br>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
          <br>
          <br>
          <label for="psw"><b>Confirm Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <br>
        <br>
        <div class="container">
            <a href="/MLE_page">
                <button class="button-1" role="button">Login</button>
            </a>
            
        </div>
  
      
      </div>
      <bR>
  
  
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id04').style.display='none'" class="cancelbtn">Cancel</button>
        
  
      </div>
    </form>
  </div>


  
  <script>
    function mouseOverMLE() {
      document.getElementById("MLEpop").style.display = "block";
    }
    
    function mouseOutMLE() {
      document.getElementById("MLEpop").style.color = "none";
    }
    </script>
  

</body>
</html>
