<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="static/MLE_style.css">

  <title>View/Download Time Series Data</title>

</head>

<body>
          <div class="navbar-container">
            <div class="navbar">
                <li><a>FTL</a></li>
                <li><a href="/home">HOME</a></li>
                <li><a href="/all_solutions">All MLE SOLUTIONS</a></li>
                <li><a href="/contributor_upload">CONTRIBUTOR</a></li>        
                <li><a class="active" href="/MLE_view_data">MLE</a></li>
            </div>
          </div>
            <h1>MLE Download Page</h1>
            <br>
            <div class="imgcontainer">
              <img src="static/timeseries_icon.png" alt="Avatar" class="avatar">
            </div>
            <br>
            <h2>The following files are the training sets that have been uploaded by contributors</h2>
            <hr>
            <!-- We are assuming that users will input their data and upload it in the correct manner -->

            <div style="text-align: center">
              <ul class="file-list">
                {% for file, info_dict in files_and_dicts %}
                <li><a href="{{ url_for('download', filename=file) }}">{{ file }}</a>, {{ info_dict['training_set_metadata']['Task Description'] }}, {{ info_dict['training_set_metadata']['Target Variables'] }}</li>                {% endfor %}
              </ul>
            </div>
            <br>
            <br>
            <a href="/MLE_upload" class="home-button"> Upload Forecasting Solutions</a> 
</body>
</html>
