<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="static/MLE_style.css">

  <title>Upload Time Series Data</title>
  </head>

    <body>
        <div class="navbar-container">
            <div class="navbar">
              <li><a>FTL</a></li>
              <li><a href="/home">HOME</a></li>
              <li><a href="/all_solutions">All MLE SOLUTIONS</a></li>
              <li><a href="/contributor_upload">CONTRIBUTOR</a></li>        
              <li><a href="/MLE_view_data">MLE</a></li>
            </div>
        </div>
        <header>
            <h1>MLE Upload Page</h1>
            <br>
            <div class="imgcontainer">
                <img src="static/timeseries_icon.png" alt="Avatar" class="avatar">
              </div>
              <br>
            <h2>Please fill out the following information and attach the corresponding time series data solution file</h2>
            
            <hr>
            <!-- We are assuming that users will input their data and upload it in the correct manner -->

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h3 style="color: rgb(0, 3, 190);">{{message}}</h3>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            <h3>Task Description: {{ task_description }}</h3>

            <form action="/MLE_upload" id="MLE_form" method="post" enctype="multipart/form-data">
                <h3>Upload your file containing your forecasting results to see how accurate your solution is.</h3>
                <br>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <label style="text-align: left;" for="first" class="form-label">Your MLE Name</label>
                            <input type="text" class="form-control form-control-lg" id="sol_title" name="MLE_name" placeholder="Enter Name Here">
                        </div>
                    </div>
                <div class="row">
                </div>
                    <div class="row">             
                            <h3 style="text-align: left;"><b>Solution File</b></h3>

                            <input type="file" class="file_upload" id="test_data" accept=".csv, .json, .txt" name="solution_file" required>
                            
                             <input href="/comparison_graph_MLE" type="submit" value="Upload">
<!--
                            <input type="submit" value="Upload" onclick="window.location.href = 'error_analysis.html'">
                            As of now the onclick attribute for the upload button is not dependent on choosing a file
                            but it should only be triggered after the error analysis page is generated anyway right now it
                        is just for accessibility purposes to access the error analysis display page since its just an html page atm-->

                    </div>
                </div>
            </form>
            
        </header>
    </body>
</html>
