<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="MLE_style.css">

  <title>View/Download Time Series Data</title>
</head>

<body>
    <div class="navbar-container">
      <div class="navbar">
          <li><a>FTL</a></li>
          <li><a href="/home">Home</a></li>
          <li><a href="/all_solutions">All MLE Solutions</a></li>
          <li><a class="active" href="/MLE_view_data">MLE</a></li>
          <li><a href="/contributor_upload">Contributor</a></li>
      </div>
    </div>
            <h1>MLE Download Page</h1>
            <br>
            <div class="imgcontainer">
              <img src="timeseries_icon.png" alt="Avatar" class="avatar">
            </div>
            <br>
            <h2>The following files, forecasting task descriptions, target variables and test set lengths have been defined by contributors</h2>
            <h2>Note: All MLE solutions should have same number of rows as test set length. Also, headers of the training set and MLE solution should not be altered in any way.</h2>
            <hr>
            <!-- We are assuming that users will input their data and upload it in the correct manner -->
            <br>
            <div class="container">
              <ul class="file-info-list">
                {% for file, info_dict in files_and_dicts %}
                  <li class="file-info-item"><a href="{{ url_for('download', filename=file) }}">{{ file }}</a>, {{ info_dict['training_set_metadata']['Task Description'] }}, {{ info_dict['training_set_metadata']['Target Variables'] }}, {{ info_dict['test_set_metadata']['Length'] }}</li>
                {% endfor %}
              </ul>
            </div>
            <br>
            <br>
            <br>
            <a href="/MLE_upload" class="home-button"> Upload Forecasting Solutions</a>  
</body>
</html>