<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="static/MLE_style.css">

  <title>Upload Time Series Data</title>
</head>

<body>
    <body>
        <header>
            <h1>MLE Upload Page</h1>
            <h2>Please fill out the following information and attach the corresponding time series data solution file</h2>
            <!-- We are assuming that users will input their data and upload it in the correct manner -->

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h3 style="color: rgb(0, 3, 190);">{{message}}</h3>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            <form action="/MLE_upload" id="MLE_form" method="post" enctype="multipart/form-data">
                <h3>Upload your file containing your forecasting results to see how accurate your solution is.</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <label for="first" class="form-label">Time Series Solution Title</label>
                            <input type="text" class="form-control form-control-lg" id="sol_title" name="sol_title" placeholder="Enter Solution Title">
                        </div>
                    </div>
    
                    <div class="row">             
                            <h3 style="text-align: left;"><b>Test Data</b></h3>
                            <!--
                            <div class="drop-container">
                                <label for="images" class="drop-title">Drop file here</label>
                                <span>or</span>
                                
                            </div>
                            -->

                            <input type="file" class="file_upload" id="test_data" accept=".csv, .json, .txt" name="solution_file" required>
                            
                            <input type="submit" value="Upload">
                    </div>
                </div>
            </form>

            <br><br><a href="/home" class="home-button">Home</a>
            
        </header>
    </body>
</body>
</html>